<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="icon" href="media/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <title>Portfólio</title>
</head>


<body>

  <!-- Navbar -->
  <%- include ("partials/navbar"); -%>

  <!-- Apresentação -->

  <div class="jumbotron jumbotron-fluid mb-0" id="jumbotron-portfolio">
    <div class="container text-center">
      <h1>Portefólio da Equipa</h1>
      <p class="lead">Vídeos concebidos pelos membros da nossa equipa.</p>
    </div>
  </div>

  <!-- Vídeos -->

  <div class="container-fluid py-3" style="background-color: #f5f5f5">
    
    <div id="recipe-carousel-1" class="carousel main-videos" data-interval="false" data-ride="carousel">
      <div class="px-xl-3 px-lg-2 px-md-1 px-3">
        <p id="aviso" style="display: none; font-size: 0.8rem">(Aviso: O browser Safari não permite a visualização da maioria dos vídeos nesta página. Clique no vídeo que deseja visualizar, e depois no ícone que aparece no seu canto superior direito, para o abrir noutra janela).</p>
        <h1 class="mb-0">Publicidade</h1>
      </div>
      <div class="carousel-inner" role="listbox">

        <div class="carousel-item row active mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video1" src="media/Pub_RestaurantesFurnas.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Restaurantes Furnas</b></p>
            <p>Captação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video2" src="media/Pub_Vortex.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Vortex Automóveis</b></p>
            <p>Captação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video3" src="media/Pub_NewMen.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - NewMen</b></p>
            <p>Captação e edição</p>
          </div>
        </div>

        <div class="carousel-item row mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video4" src="media/Pub_EstoresImperio.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Estores Império</b></p>
            <p>Captação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video_p5" src="media/Pub_AcademiaLifeClub.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade - Academia Life Club</b></p>
            <p>Captação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video_p6" src="media/Pub_Predimed.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Predimed</b></p>
            <p>Captação e edição</p>
          </div>
        </div>

        <div class="carousel-item row mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video_p7" src="media/Pub_Paullus.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade - Paullus</b></p>
            <p>Captação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video_p8" src="media/Pub_Valores.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Valores</b></p>
            <p>Captação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video_p9" src="media/Pub_Energest.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Energest</b></p>
            <p>Captação e edição</p>
          </div>
        </div>

        <div class="carousel-item row mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video_p10" src="media/Pub_Odisseia.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Showreel Odisseia Audiovisual</b></p>
            <p>Captação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video_p11" src="media/Pub_Sanjam.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade - Sanjam</b></p>
            <p>Captação e edição</p>
          </div>
       <!--    <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video_p9" src="media/Pub_Energest.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Energest</b></p>
            <p>Captação e edição</p>
          </div> -->
        </div>

      </div>

      <a class="carousel-control-prev" href="#recipe-carousel-1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#recipe-carousel-1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>

  <div class="container-fluid py-3" style="background-color: #cfcfcf">
    <div id="recipe-carousel-2" class="carousel main-videos" data-interval="false" data-ride="carousel">
      <div class="px-xl-3 px-lg-2 px-md-1 px-3">
        <h1 class="mb-0">Motion Graphics</h1>
      </div>
      <div class="carousel-inner" role="listbox">

        <div class="carousel-item row active mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video5" src="media/Motion_Graphics_Pontidot.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Pontidot</b></p>
            <p>Animação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video6" src="media/Motion_Graphics_LicorBeirao.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Licor Beirão</b></p>
            <p>Animação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video7" src="media/Institucional_Maat.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Vídeo Institucional - MAAT</b></p>
            <p>Animação e edição</p>
          </div>
        </div>

        <div class="carousel-item row mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video8" src="media/Motion_Graphics_CartoesDePatrocinio.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Cartões de Patrocínio</b></p>
            <p>Animação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video_mg5" src="media/Motion_Graphics_PapaJohns.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Papa Johns</b></p>
            <p>Animação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video_mg6" src="media/Motion_Graphics_Predimed.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Predimed</b></p>
            <p>Animação e edição</p>
          </div>
        </div>

        <div class="carousel-item row mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video_mg7" src="media/Motion_Graphics_MeiaDuzia.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Meia Dúzia</b></p>
            <p>Animação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video_mg8" src="media/Motion_Graphics_TaldaLixa.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - O Tal da Lixa</b></p>
            <p>Animação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video_mg9" src="media/Motion_Graphics_Earthform.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Publicidade RTP - Earthform</b></p>
            <p>Animação e edição</p>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#recipe-carousel-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#recipe-carousel-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>

  <div class="container-fluid py-3" style="background-color: #f5f5f5">
    <div id="recipe-carousel-3" class="carousel main-videos" data-interval="false" data-ride="carousel">
      <div class="px-xl-3 px-lg-2 px-md-1 px-3">
        <h1 class="mb-0">Documentários e Reportagens</h1>
      </div>
      <div class="carousel-inner" role="listbox">

        <div class="carousel-item row active mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video9" src="media/Documentario_ BlacK.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Documentário - BlacK</b></p>
            <p>Captação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video10" src="media/Entrevista_NonBasta.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Reportagem NewMen - Non Basta</b></p>
            <p>Captação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video11" src="media/Institucional_MontagemDeUmFuturo.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Documentário - Projeto Semear</b></p>
            <p>Realização e edição</p>
          </div>
        </div>


        <!-- <div class="carousel-item row mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video8" src="Motion_Graphics_CartoesDePatrocinio.jpg"></img>
            </div>
            <p class="mt-2">Este vídeo é muito bom.</p>
          </div>
        </div> -->

      </div>

      <!-- <a class="carousel-control-prev" href="#recipe-carousel-3" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#recipe-carousel-3" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->

    </div>
  </div>

  <div class="container-fluid py-3" style="background-color: #cfcfcf">
    <div id="recipe-carousel-4" class="carousel main-videos" data-interval="false" data-ride="carousel">
      <div class="px-xl-3 px-lg-2 px-md-1 px-3">
        <h1 class="mb-0">Dança</h1>
      </div>
      <div class="carousel-inner" role="listbox">

        <div class="carousel-item row active mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video12" src="media/Danca_Ineufa.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Excerto Curta-metragem - INEUFA</b></p>
            <p>Realização e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video13" src="media/Danca_TeaserCorrente.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Teaser Dança - Corrente</b></p>
            <p>Realização, captação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video14" src="media/Danca_EnsaiosCorrente.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Entrevista - Corrente</b></p>
            <p>Realização, captação e edição</p>
          </div>
        </div>


        <!-- <div class="carousel-item row mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video8" src="Motion_Graphics_CartoesDePatrocinio.jpg"></img>
            </div>
            <p class="mt-2">Este vídeo é muito bom.</p>
          </div>
        </div> -->

      </div>

      <!-- <a class="carousel-control-prev" href="#recipe-carousel-4" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#recipe-carousel-4" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->

    </div>
  </div>

  <div class="container-fluid py-3" style="background-color: #f5f5f5">
    <div id="recipe-carousel-5" class="carousel main-videos" data-interval="false" data-ride="carousel">
      <div class="px-xl-3 px-lg-2 px-md-1 px-3">
        <h1 class="mb-0">Concertos</h1>
      </div>
      <div class="carousel-inner" role="listbox">

        <div class="carousel-item row active mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video15" src="media/Musica_FestivalMIL.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Festival MIL 2019</b></p>
            <p>Captação</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video16" src="media/Musica_ConcertoPlantasia.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Bruno Pernadas e Moullinex - Plantasia Musicbox</b></p>
            <p>Realização</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video17" src="media/Musica_ConcertoTetoPreto.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Teto Preto - Musicbox</b></p>
            <p>Captação</p>
          </div>
        </div>


        <!-- <div class="carousel-item row mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video8" src="Motion_Graphics_CartoesDePatrocinio.jpg"></img>
            </div>
            <p class="mt-2">Este vídeo é muito bom.</p>
          </div>
        </div> -->

      </div>

      <!-- <a class="carousel-control-prev" href="#recipe-carousel-5" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#recipe-carousel-5" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->

    </div>
  </div>

  <div class="container-fluid py-3" style="background-color: #cfcfcf">
    <div id="recipe-carousel-6" class="carousel main-videos" data-interval="false" data-ride="carousel">
      <div class="px-xl-3 px-lg-2 px-md-1 px-3">
        <h1 class="mb-0">Eventos</h1>
      </div>
      <div class="carousel-inner" role="listbox">

        <div class="carousel-item row active mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video18" src="media/Eventos_EncontroSaudeLGBTQI.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>1º Encontro de Saúde LGBTQI+</b></p>
            <p>Captação e edição</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video19" src="media/Eventos_EDPCooljazz.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Voxpop EDP CoolJazz 2019</b></p>
            <p>Captação</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video20" src="media/Eventos_MissBrasilEuropa.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Miss Brasil Europa 2020</b></p>
            <p>Captação e edição</p>
          </div>
        </div>

        <div class="carousel-item row mx-0">
          <div class="col-lg-4 col-md-6 mb-2 px-xl-3 px-lg-2 px-md-1 px-3 float-left">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" id="video21" src="media/Eventos_Casamento.jpg"></img>
            </div>
            <p class="mt-2 mb-0"><b>Casamento Florbela e Julius</b></p>
            <p>Captação e edição</p>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#recipe-carousel-6" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#recipe-carousel-6" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>

  <!-- Footer -->
<%-include("partials/footer")-%>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="scripts/portfolio.js"></script>

</body>

</html>