<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="icon" href="media/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">  
  <link rel="stylesheet" href="stylesheets/styles.css">
  <title>Política de Privacidade - Odisseia Audiovisual</title>
</head>


<body>

  <!-- Navbar -->
  <%- include ("partials/navbar"); -%>

  <!-- Privacidade -->

  <div class="container-fluid py-lg-5 py-4" style="background-color: #f5f5f5; min-height: 800px;">
    <div class="container">
      <h1>Política de Privacidade</h1>
      <p>Esta página descreve como as suas informações pessoais são coletadas e processadas quando visita odisseiaaudiovisual.pt (o “website”). Tentamos estar em conformidade com toda a legislação vigente na matéria.</p>
      <hr>
      <p>Quando visita este website, algumas informações são automaticamente registadas no nosso servidor, como o endereço IP do seu dispositivo de acesso e a hora de visita. </p>
      <p>Adicionalmente, o tipo de dispositivo que está a utilizar é registado pelos serviços de hospedagem de conteúdo que utilizamos para permitir reproduzir o conteúdo existente no website num formato adequado à sua visualização (resolução, taxa de bits, dimensões). Estas informações ficam registadas sobre a forma de um "cookie", para possibilitar o seu uso em todo o website, e são essenciais ao seu funcionamento.</p>
      <p>O website contém um formulário de contacto, no qual é pedido um endereço de correio eletrónico. Com o seu consentimento, esse endereço é registado no nosso servidor de correio eletrónico para possibilitar uma resposta da nossa parte.</p>
      <hr>
      <p>Toda a informação transmitida de e para este website é encriptada através do protocolo TLS, o atual padrão de encriptação. Pode confirmá-lo verificando a existência de um símbolo de cadeado ao lado da barra de endereços do seu browser, e o prefixo "https" no endereço de todas as páginas do website.</p>
    <p>A informação que nos fornecer através do formulário de contacto será mantida nos nossos servidores durante o tempo necessário para os fins comerciais que vier a contratar connosco, bem como para facilitar eventuais contactos subsequentes. </p> 
    <p>Se desejar a qualquer momento que apaguemos toda a sua informação, ou se tiver alguma questão relacionada com esta política de privacidade, pode contactar-nos para esse efeito através de geral@odisseiaaudiovisual.pt.</p>

  </div>

  </div>




  <!-- Footer -->
<%-include("partials/footer")-%>





  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="scripts/index.js"></script>

</body>

</html>
